<?xml version="1.0"?>
<robot name="circular_window">
  <link name="base_link">

    <visual>
      <geometry>
        <mesh filename="circular_window_small.stl" scale="0.005 0.005 0.005"/>
      </geometry>
      <material name="red">
            <color rgba="1 0 0 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="circular_window_small.stl" scale="0.005 0.005 0.005"/>
      </geometry>
    </collision>

    <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.1" />
        <inertia ixx="0.1" ixy="0.1" ixz="0.1" iyy="0.1" iyz="0.1" izz="0.1" />
    </inertial>

  </link>
</robot>
