<?xml version="1.0"?>
<robot name="green_arrow">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="arrow.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green">
            <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
     </inertial>
  </link>
</robot>
